@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.hero{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: none;
    height: 900px;
  
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    /* font-weight: 800;
    font-size: 45px; */
    padding: 5px;
    justify-content: first baseline;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
   
    

.btn-primary{
    border-radius: 8px;
    background: rgb(13, 19, 33);
   font-weight: large;
   color: white;
   font-size: 20px;
   border: 10px;
   cursor: pointer;
}
.btn-contact{
    margin-top: 20px;
   align-items: center;
   text-align: center;
   justify-content: center;
   cursor: pointer;
   
}
/* content */
.content-title{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
  
}
.content-title h3{
    font-size: 55px;
    font-weight: 600;
    justify-content: center;
    padding-top: none;
}
.content-title p{
    font-size: large;
    padding: none;
    justify-content: space-around;
}
/* content */
.content-title h2{
    font-size: 40px;
    font-weight: 500;
    font: bolder;
    justify-content: center;
}
.content-title{
    padding-top: 25px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-content h4{
    margin: none;
    font-size: larger;
    align-items: center;
    justify-content: center;
}
.hero-title{
    align-items: center;
    padding-left: 400px;
    justify-content: center;
}
.banner-pic{
    padding-right: 400px;
}
.jon h5{
    font: 600;
    font-weight: 700;
    font-size: x-large;
}
.sub-btn{
    cursor: pointer;

}
.video-show{
    align-items: center;
   height: 700px;
   
}
.video-title h1{
    align-items: center;
    text-align: center;

}
.video-title p{
    align-items: center;
    text-align: center;
}
.video-link{
    align-items: center;
    text-align: center;
    
}
/* terget-technology" */
.aj{
    height: 600px;
    padding: 40px;
    justify-content: center;
}
.terget{
    display: flex;
    gap: 20px; /* This adds space between the boxes */
    justify-content: center;
    /* Keeps layout responsive */
    padding: 20px;    
}
.terget-technology{
    display: block;
}
.color-content{
    background-color: antiquewhite;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
    
}
.color-content-1{
    background-color: aqua;
    /* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
  
}
.color-content-2{
    background-color: burlywood;
    
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
    
}
.resize{
    gap: 20px; /* This adds space between the boxes */
    justify-content: center;
    /* Keeps layout responsive */
    padding: 20px;
    width: 600px;
    align-items: center; 
    padding-left: 600px;
    border-radius: none;
}
.vas{
    background-color: lightgray;
}